<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="homeForm" >
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Start from</mat-label>

        <input matInput formControlName="index" type="number" placeholder="Enter number" min="0">
      </mat-form-field><br/>

      <mat-form-field appearance="outline">
        <mat-label>Enter items per page</mat-label>

        <mat-select formControlName="pageSize">
          <mat-option value=5>5</mat-option>
          <mat-option value=10>10</mat-option>
          <mat-option value=25>25</mat-option>
          <mat-option value=100>100</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Enter type</mat-label>
        <mat-select formControlName="typeOf">
            <ng-container *ngFor="let type of ">
              <mat-option value="">{{type}}</mat-option>
            </ng-container>
        </mat-select>
      </mat-form-field>
      <br>
      <input type="submit" value="tables" mat-raised-button (click)="redirectTable()" >
    </div>
  </form>
  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
